<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="create-form">
                    <div class="form-group">
                        <label for="title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="title">
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Description:</label>
                        <input type="text" class="form-control" id="description">
                    </div>
                    <div class="form-group">
                        <label for="hint" class="col-form-label">Hint:</label>
                        <input type="text" class="form-control" id="hint">
                    </div>
                    <div class="form-group">
                        <label for="latitude" class="col-form-label">Current Latitude:</label>
                        <p id="latitude"></p>
                    </div>
                    <div class="form-group">
                        <label for="longitude" class="col-form-label">Current Longitude:</label>
                        <p id="longitude"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="create-btn" type="button" class="btn btn-primary">Create Location</button>
            </div>
        </div>
    </div>
</div>