<div class="modal fade" id="updateGeocacheDescriptionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Geocache Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="update-form">
                    <div class="input-group">
                        <label for="geocache-description-update-input" class="col-form-label">New Description:</label>
                        <textarea class="form-control" id="geocache-description-update-input" value="{{description}}"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="update-geocache-description-form-btn" type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>


