<div class="modal fade" id="updateGeocacheTitleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Geocache Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="update-form">
                    <div class="form-group">
                        <label for="geocache-title-update-input" class="col-form-label">New Title:</label>
                        <input type="text" class="form-control" id="geocache-title-update-input">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="update-geocache-title-form-btn" type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>