<div class="card-group">
    <div class="card">
        <div class="text-center">
            <h5 class="card-title">
                <center>Frequently Asked Questions</center>
            </h5>
            <a href="https://www.geocaching.com/guide/"><img class="gif"
                    src="https://i.pinimg.com/originals/07/ed/75/07ed75a40de90b6055cf7a7e7be5677e.gif"
                    alt="thinking emoji" width="50%" height="50%">
            </a>
        </div>
    </div>
    <div class="card">
        <div class="text-center">
            <h5 class="card-title">
                <center>NC Top Ranked Geocachers</center>
            </h5>
            <a href="https://www.geocaching.com/bookmarks/view.aspx?guid=512a86c0-2ddd-4fea-9e5d-9d3a0e8abca7"><img
                    class="gif" src="https://i.pinimg.com/originals/75/d3/bd/75d3bd6c2855cea6bd12af66cc37719b.gif"
                    alt="trophy emoji" width="60%" height="60%">
            </a>
        </div>
    </div>
    <div class="card">
        <div class="text-center">
            <h5 class="card-title">
                <center>Fast Facts About Geocaching</center>
            </h5>
            <a href="https://newsroom.geocaching.com/fast-facts"><img class="gif"
                    src="https://cliply.co/wp-content/uploads/2021/03/392103020_WOW_EMOJI_400px.gif" alt="shocked emoji"
                    width="50%" height="50%">
            </a>
        </div>
    </div>
</div>