<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <img src="/images/gtaIcon.ico" alt="" width="62" height="62"><i>
                <h6>GeoTreasure Adventures</h6>
            </i>
        </div>
        <div class="col-10">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    {{> translate}}
                </li>
                <li class="nav-item">
                    <a id="map-link" href="/" title="View Map" style="background-color:#FFFFFF;color:#000000;text-decoration:none"
                        class="nav-link"><img src="/images/mapIcon.ico" alt="" width="32"
                            height="32"></a>
                </li>
                {{#if logged_in}}
                <li class="nav-item">
                    <a id="profile-btn" href="/profile" title="View Profile"
                        style="background-color:#FFFFFF;color:#000000;text-decoration:none" class="nav-link"><img src="/images/userIcon.ico"
                            alt=""
                            width="32" height="32"></a>
                </li>
                <li class="nav-item">
                    <button id="logout" type="button" class="btn btn-primary">Logout</button>
                </li>
                {{else}}
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#loginModal">Login</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#signupModal">Sign
                        Up</button>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>