{{#each geocaches as |geocache|}}
<div class="card text-center" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{description}}</h6>
        <p class="card-text">{{hint}}</p>
        <button class="geocache-delete-btn btn btn-outline-danger" data-index="{{id}}">Delete</button>
    </div>
</div>
{{/each}}