<!-- This script allows for using geocache data in js file -->
<script>
    window.stringGeocaches = {{{ stringGeocaches }}};
    console.log(window.stringGeocaches);
</script>
<div id="map"></div>

{{> map-marker}}