html,
body {
  height: 100%;
  background-color: white;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#map {
  height: 800px;
}

.hide {
  display: none;
}

/* Map Tooltip Styles */

.location-title {
  font-weight: bold;
}

.location-desc {
  font-size: small;
}

.location-hint {
  font-size: small;
  font-style: italic;
}

/* Geocache List Styles */

.list-description {
  font-size: small;
  font-style: italic;
  color: darkslategrey;
}

.list-title {
  font-weight: bold;
  font-size: medium;
}

#google_translate_element {
  display: flex;
  justify-content: flex-end;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  height: 500px;
  margin-bottom: 0%;
}

.video-background {
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-bottom: 0%;
  padding: 0;
  margin-bottom: 0;
}

.caption {
  position: absolute;
  justify-content: center;
  top: 40%;
  width: 100%;
  color: black;
  z-index: 2; /* Show content above video */
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .btn-lg {
    font-size: 1rem;
  }
}

#profile-card {
  display: flex;
  flex-direction: row;
  float: right;
  order: 1; 
}


.form-control:focus {
  box-shadow: none;
  border-color: #688ec8
}

.profile-button {
  background: #688ec8;
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #688ec8
}

.profile-button:focus {
  background: #688ec8;
  box-shadow: none
}

.profile-button:active {
  background: #688ec8;
  box-shadow: none
}

.back:hover {
  color: #688ec8;
  cursor: pointer
}
